<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css') }}">
    </head>
    <body>
        <form action="/signup/handler" method="post" class="form">
            <h1 class="form__title">Регистрация</h1>
            <div class="form__group">
                <input class="form__input" placeholder=" " autocomplete="on" autofocus="on">
                <label class="form__label">Email</label>    
            </div>
            <div class="form__group">
                <input type="password" class="form__input" placeholder=" " autocomplete="on">
                <label class="form__label">Пароль</label>    
            </div>
            <div class="form__group">
                <input type="password" class="form__input" placeholder=" " autocomplete="on">
                <label class="form__label">Повторный пароль</label>    
            </div>
            <button class="form__button">Зарегистрироваться</button>
        </form>
    </body>
</html>
