<!DOCTYPE html>
<html>
<head>
	<title>Deep Dark Sea</title>
	<style>
		body {
			background: radial-gradient(circle, #000000, #191966);
			font-family: Arial, sans-serif;
			color: #fff7f7;
		}

		h1 {
			font-size: 12px;
			font-weight: bold;
			margin-top: 0px;
			text-align: center;
		}

		button {
			background-color: #2e7cd5;
			color: #fff;
			border-radius: 50px;
			border: none;
			padding: 10px 80px;
			font-size: 15px;
			font-weight: bold;
			margin-top: 1px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		table {
		    background-color: blue;
            border-spacing: 0;
		    position: absolute;
		}

		td {
		    position: static;
		    width: 0.05vw;
            height: 0.05vw;
		}

        img {
            border: 2px solid #0000ff;
        }
	</style>
</head>
    <body>
        <img src="{{ url_for('static', filename='Van_ava.jpg') }}" onclick="playSoundFuckYou()" style="position:absolute; top:20vh; right:9vw; width:5vw; height:5vw;">
        <img src="{{ url_for('static', filename='Default.jpg') }}" style="position:absolute; top:20vh; left:8.5vw; width:5vw; height:5vw;">
        <h1 style="position: absolute; top: 32vh; right: 10.7vw;">Van</h1>
        <h1 style="position: absolute; top: 32vh; left: 10.7vw;">You</h1>
        <div style="position: absolute; top: 20%; left: 15%;">
            <table border="1" cellpadding="20" id="table1">
                <tr>
                    <td id="cell-0-0" onclick="sendPostRequest(0, 0, 1);"></td>
                    <td id="cell-0-1" onclick="sendPostRequest(0, 1, 1);"></td>
                    <td id="cell-0-2" onclick="sendPostRequest(0, 2, 1);"></td>
                    <td id="cell-0-3" onclick="sendPostRequest(0, 3, 1);"></td>
                    <td id="cell-0-4" onclick="sendPostRequest(0, 4, 1);"></td>
                    <td id="cell-0-5" onclick="sendPostRequest(0, 5, 1);"></td>
                    <td id="cell-0-6" onclick="sendPostRequest(0, 6, 1);"></td>
                    <td id="cell-0-7" onclick="sendPostRequest(0, 7, 1);"></td>
                    <td id="cell-0-8" onclick="sendPostRequest(0, 8, 1);"></td>
                    <td id="cell-0-9" onclick="sendPostRequest(0, 9, 1);"></td>
                </tr>
                <tr>
                    <td id="cell-1-0" onclick="sendPostRequest(1, 0, 1)"></td>
                    <td id="cell-1-1" onclick="sendPostRequest(1, 1, 1)"></td>
                    <td id="cell-1-2" onclick="sendPostRequest(1, 2, 1)"></td>
                    <td id="cell-1-3" onclick="sendPostRequest(1, 3, 1)"></td>
                    <td id="cell-1-4" onclick="sendPostRequest(1, 4, 1)"></td>
                    <td id="cell-1-5" onclick="sendPostRequest(1, 5, 1)"></td>
                    <td id="cell-1-6" onclick="sendPostRequest(1, 6, 1)"></td>
                    <td id="cell-1-7" onclick="sendPostRequest(1, 7, 1)"></td>
                    <td id="cell-1-8" onclick="sendPostRequest(1, 8, 1)"></td>
                    <td id="cell-1-9" onclick="sendPostRequest(1, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-2-0" onclick="sendPostRequest(2, 0, 1)"></td>
                    <td id="cell-2-1" onclick="sendPostRequest(2, 1, 1)"></td>
                    <td id="cell-2-2" onclick="sendPostRequest(2, 2, 1)"></td>
                    <td id="cell-2-3" onclick="sendPostRequest(2, 3, 1)"></td>
                    <td id="cell-2-4" onclick="sendPostRequest(2, 4, 1)"></td>
                    <td id="cell-2-5" onclick="sendPostRequest(2, 5, 1)"></td>
                    <td id="cell-2-6" onclick="sendPostRequest(2, 6, 1)"></td>
                    <td id="cell-2-7" onclick="sendPostRequest(2, 7, 1)"></td>
                    <td id="cell-2-8" onclick="sendPostRequest(2, 8, 1)"></td>
                    <td id="cell-2-9" onclick="sendPostRequest(2, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-3-0" onclick="sendPostRequest(3, 0, 1)"></td>
                    <td id="cell-3-1" onclick="sendPostRequest(3, 1, 1)"></td>
                    <td id="cell-3-2" onclick="sendPostRequest(3, 2, 1)"></td>
                    <td id="cell-3-3" onclick="sendPostRequest(3, 3, 1)"></td>
                    <td id="cell-3-4" onclick="sendPostRequest(3, 4, 1)"></td>
                    <td id="cell-3-5" onclick="sendPostRequest(3, 5, 1)"></td>
                    <td id="cell-3-6" onclick="sendPostRequest(3, 6, 1)"></td>
                    <td id="cell-3-7" onclick="sendPostRequest(3, 7, 1)"></td>
                    <td id="cell-3-8" onclick="sendPostRequest(3, 8, 1)"></td>
                    <td id="cell-3-9" onclick="sendPostRequest(3, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-4-0" onclick="sendPostRequest(4, 0, 1)"></td>
                    <td id="cell-4-1" onclick="sendPostRequest(4, 1, 1)"></td>
                    <td id="cell-4-2" onclick="sendPostRequest(4, 2, 1)"></td>
                    <td id="cell-4-3" onclick="sendPostRequest(4, 3, 1)"></td>
                    <td id="cell-4-4" onclick="sendPostRequest(4, 4, 1)"></td>
                    <td id="cell-4-5" onclick="sendPostRequest(4, 5, 1)"></td>
                    <td id="cell-4-6" onclick="sendPostRequest(4, 6, 1)"></td>
                    <td id="cell-4-7" onclick="sendPostRequest(4, 7, 1)"></td>
                    <td id="cell-4-8" onclick="sendPostRequest(4, 8, 1)"></td>
                    <td id="cell-4-9" onclick="sendPostRequest(4, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-5-0" onclick="sendPostRequest(5, 0, 1)"></td>
                    <td id="cell-5-1" onclick="sendPostRequest(5, 1, 1)"></td>
                    <td id="cell-5-2" onclick="sendPostRequest(5, 2, 1)"></td>
                    <td id="cell-5-3" onclick="sendPostRequest(5, 3, 1)"></td>
                    <td id="cell-5-4" onclick="sendPostRequest(5, 4, 1)"></td>
                    <td id="cell-5-5" onclick="sendPostRequest(5, 5, 1)"></td>
                    <td id="cell-5-6" onclick="sendPostRequest(5, 6, 1)"></td>
                    <td id="cell-5-7" onclick="sendPostRequest(5, 7, 1)"></td>
                    <td id="cell-5-8" onclick="sendPostRequest(5, 8, 1)"></td>
                    <td id="cell-5-9" onclick="sendPostRequest(5, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-6-0" onclick="sendPostRequest(6, 0, 1)"></td>
                    <td id="cell-6-1" onclick="sendPostRequest(6, 1, 1)"></td>
                    <td id="cell-6-2" onclick="sendPostRequest(6, 2, 1)"></td>
                    <td id="cell-6-3" onclick="sendPostRequest(6, 3, 1)"></td>
                    <td id="cell-6-4" onclick="sendPostRequest(6, 4, 1)"></td>
                    <td id="cell-6-5" onclick="sendPostRequest(6, 5, 1)"></td>
                    <td id="cell-6-6" onclick="sendPostRequest(6, 6, 1)"></td>
                    <td id="cell-6-7" onclick="sendPostRequest(6, 7, 1)"></td>
                    <td id="cell-6-8" onclick="sendPostRequest(6, 8, 1)"></td>
                    <td id="cell-6-9" onclick="sendPostRequest(6, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-7-0" onclick="sendPostRequest(7, 0, 1)"></td>
                    <td id="cell-7-1" onclick="sendPostRequest(7, 1, 1)"></td>
                    <td id="cell-7-2" onclick="sendPostRequest(7, 2, 1)"></td>
                    <td id="cell-7-3" onclick="sendPostRequest(7, 3, 1)"></td>
                    <td id="cell-7-4" onclick="sendPostRequest(7, 4, 1)"></td>
                    <td id="cell-7-5" onclick="sendPostRequest(7, 5, 1)"></td>
                    <td id="cell-7-6" onclick="sendPostRequest(7, 6, 1)"></td>
                    <td id="cell-7-7" onclick="sendPostRequest(7, 7, 1)"></td>
                    <td id="cell-7-8" onclick="sendPostRequest(7, 8, 1)"></td>
                    <td id="cell-7-9" onclick="sendPostRequest(7, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-8-0" onclick="sendPostRequest(8, 0, 1)"></td>
                    <td id="cell-8-1" onclick="sendPostRequest(8, 1, 1)"></td>
                    <td id="cell-8-2" onclick="sendPostRequest(8, 2, 1)"></td>
                    <td id="cell-8-3" onclick="sendPostRequest(8, 3, 1)"></td>
                    <td id="cell-8-4" onclick="sendPostRequest(8, 4, 1)"></td>
                    <td id="cell-8-5" onclick="sendPostRequest(8, 5, 1)"></td>
                    <td id="cell-8-6" onclick="sendPostRequest(8, 6, 1)"></td>
                    <td id="cell-8-7" onclick="sendPostRequest(8, 7, 1)"></td>
                    <td id="cell-8-8" onclick="sendPostRequest(8, 8, 1)"></td>
                    <td id="cell-8-9" onclick="sendPostRequest(8, 9, 1)"></td>
                </tr>
                <tr>
                    <td id="cell-9-0" onclick="sendPostRequest(9, 0, 1)"></td>
                    <td id="cell-9-1" onclick="sendPostRequest(9, 1, 1)"></td>
                    <td id="cell-9-2" onclick="sendPostRequest(9, 2, 1)"></td>
                    <td id="cell-9-3" onclick="sendPostRequest(9, 3, 1)"></td>
                    <td id="cell-9-4" onclick="sendPostRequest(9, 4, 1)"></td>
                    <td id="cell-9-5" onclick="sendPostRequest(9, 5, 1)"></td>
                    <td id="cell-9-6" onclick="sendPostRequest(9, 6, 1)"></td>
                    <td id="cell-9-7" onclick="sendPostRequest(9, 7, 1)"></td>
                    <td id="cell-9-8" onclick="sendPostRequest(9, 8, 1)"></td>
                    <td id="cell-9-9" onclick="sendPostRequest(9, 9, 1)"></td>
                </tr>
            </table>
        </div>
        <div style="position: absolute; top: 20%; right: 43%;">
            <table border="1" cellpadding="20" id="table2">
                <tr>
                    <td id="cell-0-0van" onclick="sendPostRequest(0, 0); shoot(this)"></td>
                    <td id="cell-0-1van" onclick="sendPostRequest(0, 1); shoot(this)"></td>
                    <td id="cell-0-2van" onclick="sendPostRequest(0, 2); shoot(this)"></td>
                    <td id="cell-0-3van" onclick="sendPostRequest(0, 3); shoot(this)"></td>
                    <td id="cell-0-4van" onclick="sendPostRequest(0, 4); shoot(this)"></td>
                    <td id="cell-0-5van" onclick="sendPostRequest(0, 5); shoot(this)"></td>
                    <td id="cell-0-6van" onclick="sendPostRequest(0, 6); shoot(this)"></td>
                    <td id="cell-0-7van" onclick="sendPostRequest(0, 7); shoot(this)"></td>
                    <td id="cell-0-8van" onclick="sendPostRequest(0, 8); shoot(this)"></td>
                    <td id="cell-0-9van" onclick="sendPostRequest(0, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-1-0van" onclick="sendPostRequest(1, 0); shoot(this)"></td>
                    <td id="cell-1-1van" onclick="sendPostRequest(1, 1); shoot(this)"></td>
                    <td id="cell-1-2van" onclick="sendPostRequest(1, 2); shoot(this)"></td>
                    <td id="cell-1-3van" onclick="sendPostRequest(1, 3); shoot(this)"></td>
                    <td id="cell-1-4van" onclick="sendPostRequest(1, 4); shoot(this)"></td>
                    <td id="cell-1-5van" onclick="sendPostRequest(1, 5); shoot(this)"></td>
                    <td id="cell-1-6van" onclick="sendPostRequest(1, 6); shoot(this)"></td>
                    <td id="cell-1-7van" onclick="sendPostRequest(1, 7); shoot(this)"></td>
                    <td id="cell-1-8van" onclick="sendPostRequest(1, 8); shoot(this)"></td>
                    <td id="cell-1-9van" onclick="sendPostRequest(1, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-2-0van" onclick="sendPostRequest(2, 0); shoot(this)"></td>
                    <td id="cell-2-1van" onclick="sendPostRequest(2, 1); shoot(this)"></td>
                    <td id="cell-2-2van" onclick="sendPostRequest(2, 2); shoot(this)"></td>
                    <td id="cell-2-3van" onclick="sendPostRequest(2, 3); shoot(this)"></td>
                    <td id="cell-2-4van" onclick="sendPostRequest(2, 4); shoot(this)"></td>
                    <td id="cell-2-5van" onclick="sendPostRequest(2, 5); shoot(this)"></td>
                    <td id="cell-2-6van" onclick="sendPostRequest(2, 6); shoot(this)"></td>
                    <td id="cell-2-7van" onclick="sendPostRequest(2, 7); shoot(this)"></td>
                    <td id="cell-2-8van" onclick="sendPostRequest(2, 8); shoot(this)"></td>
                    <td id="cell-2-9van" onclick="sendPostRequest(2, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-3-0van" onclick="sendPostRequest(3, 0); shoot(this)"></td>
                    <td id="cell-3-1van" onclick="sendPostRequest(3, 1); shoot(this)"></td>
                    <td id="cell-3-2van" onclick="sendPostRequest(3, 2); shoot(this)"></td>
                    <td id="cell-3-3van" onclick="sendPostRequest(3, 3); shoot(this)"></td>
                    <td id="cell-3-4van" onclick="sendPostRequest(3, 4); shoot(this)"></td>
                    <td id="cell-3-5van" onclick="sendPostRequest(3, 5); shoot(this)"></td>
                    <td id="cell-3-6van" onclick="sendPostRequest(3, 6); shoot(this)"></td>
                    <td id="cell-3-7van" onclick="sendPostRequest(3, 7); shoot(this)"></td>
                    <td id="cell-3-8van" onclick="sendPostRequest(3, 8); shoot(this)"></td>
                    <td id="cell-3-9van" onclick="sendPostRequest(3, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-4-0van" onclick="sendPostRequest(4, 0); shoot(this)"></td>
                    <td id="cell-4-1van" onclick="sendPostRequest(4, 1); shoot(this)"></td>
                    <td id="cell-4-2van" onclick="sendPostRequest(4, 2); shoot(this)"></td>
                    <td id="cell-4-3van" onclick="sendPostRequest(4, 3); shoot(this)"></td>
                    <td id="cell-4-4van" onclick="sendPostRequest(4, 4); shoot(this)"></td>
                    <td id="cell-4-5van" onclick="sendPostRequest(4, 5); shoot(this)"></td>
                    <td id="cell-4-6van"  onclick="sendPostRequest(4, 6); shoot(this)"></td>
                    <td id="cell-4-7van" onclick="sendPostRequest(4, 7); shoot(this)"></td>
                    <td id="cell-4-8van" onclick="sendPostRequest(4, 8); shoot(this)"></td>
                    <td id="cell-4-9van" onclick="sendPostRequest(4, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-5-0van" onclick="sendPostRequest(5, 0); shoot(this)"></td>
                    <td id="cell-5-1van" onclick="sendPostRequest(5, 1); shoot(this)"></td>
                    <td id="cell-5-2van" onclick="sendPostRequest(5, 2); shoot(this)"></td>
                    <td id="cell-5-3van" onclick="sendPostRequest(5, 3); shoot(this)"></td>
                    <td id="cell-5-4van" onclick="sendPostRequest(5, 4); shoot(this)"></td>
                    <td id="cell-5-5van" onclick="sendPostRequest(5, 5); shoot(this)"></td>
                    <td id="cell-5-6van" onclick="sendPostRequest(5, 6); shoot(this)"></td>
                    <td id="cell-5-7van" onclick="sendPostRequest(5, 7); shoot(this)"></td>
                    <td id="cell-5-8van" onclick="sendPostRequest(5, 8); shoot(this)"></td>
                    <td id="cell-5-9van" onclick="sendPostRequest(5, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-6-0van" onclick="sendPostRequest(6, 0); shoot(this)"></td>
                    <td id="cell-6-1van" onclick="sendPostRequest(6, 1); shoot(this)"></td>
                    <td id="cell-6-2van" onclick="sendPostRequest(6, 2); shoot(this)"></td>
                    <td id="cell-6-3van" onclick="sendPostRequest(6, 3); shoot(this)"></td>
                    <td id="cell-6-4van" onclick="sendPostRequest(6, 4); shoot(this)"></td>
                    <td id="cell-6-5van" onclick="sendPostRequest(6, 5); shoot(this)"></td>
                    <td id="cell-6-6van" onclick="sendPostRequest(6, 6); shoot(this)"></td>
                    <td id="cell-6-7van" onclick="sendPostRequest(6, 7); shoot(this)"></td>
                    <td id="cell-6-8van" onclick="sendPostRequest(6, 8); shoot(this)"></td>
                    <td id="cell-6-9van" onclick="sendPostRequest(6, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-7-0van" onclick="sendPostRequest(7, 0); shoot(this)"></td>
                    <td id="cell-7-1van" onclick="sendPostRequest(7, 1); shoot(this)"></td>
                    <td id="cell-7-2van" onclick="sendPostRequest(7, 2); shoot(this)"></td>
                    <td id="cell-7-3van" onclick="sendPostRequest(7, 3); shoot(this)"></td>
                    <td id="cell-7-4van" onclick="sendPostRequest(7, 4); shoot(this)"></td>
                    <td id="cell-7-5van" onclick="sendPostRequest(7, 5); shoot(this)"></td>
                    <td id="cell-7-6van" onclick="sendPostRequest(7, 6); shoot(this)"></td>
                    <td id="cell-7-7van" onclick="sendPostRequest(7, 7); shoot(this)"></td>
                    <td id="cell-7-8van" onclick="sendPostRequest(7, 8); shoot(this)"></td>
                    <td id="cell-7-9van" onclick="sendPostRequest(7, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-8-0van" onclick="sendPostRequest(8, 0); shoot(this)"></td>
                    <td id="cell-8-1van" onclick="sendPostRequest(8, 1); shoot(this)"></td>
                    <td id="cell-8-2van" onclick="sendPostRequest(8, 2); shoot(this)"></td>
                    <td id="cell-8-3van" onclick="sendPostRequest(8, 3); shoot(this)"></td>
                    <td id="cell-8-4van" onclick="sendPostRequest(8, 4); shoot(this)"></td>
                    <td id="cell-8-5van" onclick="sendPostRequest(8, 5); shoot(this)"></td>
                    <td id="cell-8-6van" onclick="sendPostRequest(8, 6); shoot(this)"></td>
                    <td id="cell-8-7van" onclick="sendPostRequest(8, 7); shoot(this)"></td>
                    <td id="cell-8-8van" onclick="sendPostRequest(8, 8); shoot(this)"></td>
                    <td id="cell-8-9van" onclick="sendPostRequest(8, 9); shoot(this)"></td>
                </tr>
                <tr>
                    <td id="cell-9-0van" onclick="sendPostRequest(9, 0); shoot(this)"></td>
                    <td id="cell-9-1van" onclick="sendPostRequest(9, 1); shoot(this)"></td>
                    <td id="cell-9-2van" onclick="sendPostRequest(9, 2); shoot(this)"></td>
                    <td id="cell-9-3van" onclick="sendPostRequest(9, 3); shoot(this)"></td>
                    <td id="cell-9-4van" onclick="sendPostRequest(9, 4); shoot(this)"></td>
                    <td id="cell-9-5van" onclick="sendPostRequest(9, 5); shoot(this)"></td>
                    <td id="cell-9-6van" onclick="sendPostRequest(9, 6); shoot(this)"></td>
                    <td id="cell-9-7van" onclick="sendPostRequest(9, 7); shoot(this)"></td>
                    <td id="cell-9-8van" onclick="sendPostRequest(9, 8); shoot(this)"></td>
                    <td id="cell-9-9van" onclick="sendPostRequest(9, 9); shoot(this)"></td>
                </tr>
            </table>
        </div>
    </body>
</html>



<audio id="Fuck You">
    <source src="{{ url_for('static', filename='fuck-you1.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="I am an artist">
    <source src="{{ url_for('static', filename='iam-an-artist.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="aaah">
    <source src="{{ url_for('static', filename='aaaaaaah.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="vsplesk">
    <source src="{{ url_for('static', filename='vsplesk.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="vsplesk-van">
    <source src="{{ url_for('static', filename='vsplesk.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="dungeon master">
    <source src="{{ url_for('static', filename='dungeon-master.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="fisting">
    <source src="{{ url_for('static', filename='fisting-is-300-.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="do anal">
    <source src="{{ url_for('static', filename='i-dont-do-anal.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="swallow">
    <source src="{{ url_for('static', filename='swallow-my-cu.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="fantasies">
    <source src="{{ url_for('static', filename='deep-dark-fantasies.mp3') }}" type="audio/mpeg"></source>
</audio>
<audio id="vzryv">
    <source src="{{ url_for('static', filename='vzryv.mp3') }}" type="audio/mpeg"></source>
</audio>



<script>
    function playSoundFuckYou() {
        document.getElementById("Fuck You").play();
    }
</script>



<script>
    function sendPostRequest(row, col, tab) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/my-endpoint', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        console.log(xhr.responseText);
        }
    };
    xhr.send('row=' + row + '&col=' + col + '&tab=' + tab);
    console.log(arr);
    }
</script>



<script>
    var boards = [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 0, 1, 0, 0, 0], [0, 0, 1, 1, 1, 0, 1, 0, 0, 0], [0, 0, 0, 0, 0, 0, 1, 0, 1, 1], [0, 0, 0, 1, 0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 1], [0, 1, 0, 0, 0, 0, 0, 0, 0, 1], [0, 0, 0, 0, 1, 0, 0, 1, 0, 1], [0, 1, 0, 0, 1, 0, 0, 0, 0, 0]],
                  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 1, 0, 0, 0, 1], [0, 1, 0, 0, 0, 0, 0, 0, 0, 1], [0, 1, 0, 1, 1, 1, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 1, 0], [0, 0, 0, 1, 0, 0, 1, 0, 0, 0], [0, 0, 0, 0, 0, 0, 1, 0, 0, 0], [1, 0, 0, 0, 1, 0, 1, 0, 0, 0]],
                  [[0, 1, 1, 1, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 1, 0, 0], [0, 0, 0, 1, 0, 0, 0, 1, 0, 1], [0, 0, 0, 1, 0, 1, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 1, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 1, 1, 0, 0, 0], [1, 0, 0, 1, 0, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0, 1, 1, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
                  [[0, 0, 1, 1, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 1, 0], [0, 0, 1, 1, 1, 1, 0, 0, 1, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 0, 0, 1, 0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 1, 0, 0, 1, 1, 1, 0], [0, 1, 0, 1, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 1, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]];
    var boards_van = [[[0, 0, 0, 0, 0, 0, 0, 0, 1, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 1, 1, 0, 0, 0], [0, 1, 1, 0, 0, 0, 0, 0, 0, 1], [0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 1, 1, 0, 1, 1, 1, 0, 0, 1], [0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 0, 1, 1, 0, 0, 0, 0, 0, 0]]];
    var arr = boards[Math.floor(Math.random() * boards.length)];
    var arr_van = boards_van[Math.floor(Math.random() * boards_van.length)];
    for (var i = 0; i < arr.length; i++) {
        for (var j = 0; j < arr[i].length; j++) {
            if (arr[i][j] == 1) {
                var cell = document.getElementById("cell-" + i + "-" + j);
                cell.style.backgroundColor = "#ffffff";
            }
        }
    }
</script>



<script>
    function shoot(c){
        let i = c.parentNode.rowIndex;
        let j = c.cellIndex;
        if (arr_van[i][j] === 1){
            document.getElementById("aaah").play();
            c.style.backgroundColor = "#ff0000";
            arr_van[i][j] = 3;
        }
        else if (arr_van[i][j] === 0){
            disableTable();
            document.getElementById("vsplesk").play();
            c.style.backgroundColor = "#4283ff";
            arr_van[i][j] = 2;
            let rn = Math.floor(Math.random() * 5);
            if (rn === 0){
                setTimeout(function() {document.getElementById("fisting").play()}, 1000);
            }
            if (rn === 1){
                setTimeout(function() {document.getElementById("dungeon master").play()}, 1000);
            }
            if (rn === 2){
                setTimeout(function() {document.getElementById("do anal").play()}, 1000);
            }
            if (rn === 3){
                setTimeout(function() {document.getElementById("swallow").play()}, 1000);
            }
            if (rn === 4){
                setTimeout(function() {document.getElementById("fantasies").play()}, 1000);
            }
        }
    }
</script>



<script>
    function disableTable() {
        let i;
        let j;
        do{
            i = Math.floor(Math.random() * 10);
            j = Math.floor(Math.random() * 10);
        } while(arr[i][j] === 2 || arr[i][j] === 3);
        if (arr[i][j] === 0) {
            setTimeout(function() {document.getElementById("cell-" + i + "-" + j).style.backgroundColor = "#4283ff";
            document.getElementById("vsplesk-van").play();
            arr[i][j] = 2;}, 2000);
        }
        if (arr[i][j] === 1) {
            setTimeout(function() {document.getElementById("cell-" + i + "-" + j).style.backgroundColor = "#ff0000";
            document.getElementById("vzryv").play();
            arr[i][j] = 3}, 2000);
        }
    }
</script>